@max-width-app: 700px;


/**
 * Mixins
 * */
 .transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
}

/**
 * Fonts
 * */
// @opensans: 'Open Sans', sans-serif;
@opensans: 'Nunito', sans-serif;
@meteocons: 'MeteoconsRegular';


.clear-fix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
