@import "../styles/variables.less";

.city-card {
  // width: 60%;
  margin: 0 auto;

  .main-grid1{
  	position:relative;
    // max-width: 800px;
    border: 3px solid rgba(243,243,243, 1);
  	background:#fff;
    margin: 0 auto;
    .clear-fix;
  }
  .main-grid1-pos span{
  	// background:url(../images/1.png) no-repeat 0px 0px;
  	display:block;
  	height:181px;
  	width:200px;
  	position:absolute;
  	top:-32%;
      left: -3%;
  }
  .main-grid1 h2{
  	font-size: 4em;
      // color: #FFD61C;
      margin: 0;
      text-align: center;
  }
  .main-grid1 h2 span{
  	font-size: .5em;
      // color: #DBDADA;
  }
  .main-grid1 p{
  	margin: 0;
      // color: #D1D1D1;
  	font-size:1.5em;
  	text-align: center;
  }
  .main-grid1-grid-left{
  	float:left;
  }
  .main-grid1-grid-left p{
  	font-size:1em;
  	// color:#999;
  	margin:0;
  	text-align: left;
  }
  .main-grid1-grid-left h3{
  	// color:#999;
  	font-size:1em;
  	margin:0;
  	text-align: left;
  }
  .main-grid1-grid-right{
  	float:right;
  }
  .main-grid1-grid-right p{
  	// color:#999;
  	font-size:1em;
  	margin:0;
  	text-align: right;
  }
  .main-grid1-grid-right p span{
  	display:block;
  	font-size:2.5em;
  }
  .main-grid1-grids {
      padding:0 2em 2em;
  }
}
