@import "../styles/variables.less";

.header {
  background-color: #3891DD;

  &__bar {
    max-width: @max-width-app;
    box-shadow: none !important;
    margin: 0 auto;
    background-color: #3891DD !important;

    .meteocons {
      color: white;
      font-size: 2.8em;
    }

    h1 {
      text-align: left;
      font-size: 1.3em !important;
    }
  }
}
